body {
  background-color: #0d0714;
}

.container {
  width: 40%;
  background-color: #1d1825;
  color: white;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
}

input {
  border: 1px solid #9e78cf;
  border-radius: 10px;
  margin: 0 auto;
  width: 80%;
  background-color: transparent;
  color: #777777;
  padding: 10px 15px;
}

button {
  background-color: #9e78cf;
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

p {
  margin-top: 45px;
}

.task-container {
  background-color: #15101c;
  padding: 15px 25px;
  border-radius: 15px;
  color: #9e78cf;
}

.task-container button {
  background-color: transparent;
  color: #9e78cf;
  border: none;
  cursor: pointer;
}

.task-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid;
}

.completed span {
  text-decoration: line-through;
  color: #78cfb0;
}
